alembic
astropy
Click
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
psycopg2-binary
python-dateutil
python-editor
pytz
pytest
selenium
six
SQLAlchemy
urllib3
Werkzeug
WTForms
