
<span id="pageContent_classSchedule" style="display: inline-block; border-color: #D6D6D6; border-width: 1px; border-style: None; width: 100%; border-collapse: collapse;">

<table rules="all" style="border-color:#D6D6D6;border-width:10px;border-style:none;width:100%;border-collapse:collapse;">
	<tr>
		<th class="heading">Time</th>
		
		
			{% if result.get("Day") == "M" %}
			<th class="heading">
			<span>
				Monday
			</span></th>
			{% endif %}
			{% if result.get("Day") == "T" %}
			<th class="heading">
			<span>
				Tuesday
			</span></th>
			{% endif %}	
			{% if result.get("Day") == "W" %}			
			<th class="heading">
			<span>
				Wednesday
			</span></th>
			{% endif %}
			{% if result.get("Day") == "R" %}		
			<th class="heading">
			<span>
				Thursday
			</span></th>
			{% endif %}
			{% if result.get("Day") == "F" %}		
			<th class="heading">
			<span>
				Friday
			</span>
			</th>
			{% endif %}
		
		{% set ns = namespace(h=8, m=0) %}
		
		 {% for row in range(17) %}
            </tr><tr>
            <th class="timerange">
           		<span>
           			{% set z='' %}
           			{% if ns.m % 2 == 0 %} {% set z='0' %} {% endif %}
					{{ (ns.h+ns.m)|string+':'+((ns.m%2)*30)|string+z }}

				</span>
			</th>
			{% for row in range(1) %}
			    {% set z='' %}
           		{% if ns.m % 2 == 0 %} {% set z='0' %} {% endif %}
				<!--time now is: {{ ((ns.h+ns.m)|string+((ns.m%2)*30)|string+z)|int }} <br>  -->
				<!--time free is: {{ room.minutes_free }} <br> -->
				<!--time in military is: {{ ((room.minutes_free // 60) * 100 + room.minutes_free % 60) }} <br> -->
				{% if ((ns.h+ns.m)|string+((ns.m%2)*30)|string+z)|int <= ((room.minutes_free // 60) * 100 + room.minutes_free % 60) %}
					<td style="background-color:#325C74;" class="calElement">&nbsp;</td>
				{% endif %}
			{% endfor %}
			{% set ns.m=ns.m+1 %}	
         {% endfor %}		
</table>
</span>
