{% extends 'layout.html' %} {% block body %}

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">WhereIsEvery1?</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				href="static/aboutUs.html">About Us</a></li>
		</ul>
	</nav>

	<div class="messageArea">
		<h2> You searched for room: {{ result.get("Room") }} </h2>
		<h2> In building: {{ room.owning_building.name }}
		<h2> The day is: {{ result.get("Day") }} </h2>
		<h2> The time is: {{ time }}</h2>
		<div class="timeBox" style="background-color: #AFBDCB;">
			<h1> {{ room.time_room_free }} </h1>
		</div>
		<!--
				<p>
			 {% for day in room.days %}
			 {% if day.name == result.get("Day") %}
				<tr>
				<th> {{ day }} <br> </th>
				</tr>
			{% endif %}
			{% endfor %}
	 	</p>
		  -->

		<a href="/result?Building={{ room.owning_building.name }}&Room=&Day={{ result.get('Day') }}">
				<br>Search for another Room<br>
		</a>
		<a href="/">
				Search for another Building<br><br>
		</a>
		<form action="/room" autocomplete="off" method="GET">
			<input type="hidden" name="BuildingID" value='{{ result.get("BuildingID") }}' />
			<input type="hidden" name="Room" value='{{ result.get("Room") }}' />
			<p>
				<select id="dayList" name="Day" onchange="this.form.submit()">
					<option selected value="TODAY">Select Another Day</option>
					<option value="TODAY">Today</option>
					<option value="M">Monday</option>
					<option value="T">Tuesday</option>
					<option value="W">Wednesday</option>
					<option value="R">Thursday</option>
					<option value="F">Friday</option>
					<!-- <option value="S">Saturday</option>
					<option value="SU">Sunday</option> -->
				</select>
			</p>
		</form>
		{% include 'calendar_neo.html' %}

	</div>


{% endblock %}
