{% extends 'layout.html' %} {% block body %}

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">WhereIsEvery1?</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				href="static/aboutUs.html">About Us</a></li>
		</ul>
	</nav>

	<div class="messageArea">
		<h1>Result</h1>

		<h2> You searched for: {{ result.get("Room") }} </h2>
		<p> 
			 <th> ==={{ room }}=== <br> </th>	 
				 
			 {% for day in room.days %}
			 {% if day.name == result.get("Day") %}
				<tr>
				<th> {{ day }} <br> </th>
				</tr>
			{% endif %}
			{% endfor %}
	 	</p>

		<a href="/result?Building={{ room.owning_building.name }}&Day={{ result.get('Day') }}">
			<div class="roomLink">
				Search for another Room
			</div>
		</a>
		<a href="/">			
			<div class="roomLink">
				Search for another Building
			</div>
		</a>

		{% include 'calendar.html' %}

	</div>


{% endblock %}
